.online {
	background-color: green;
}
.offline {
	background-color:red;
}

.well {
    text-align: center;
    width:75%;
}
ul {
	text-align: left;

}
/*.image {
    height: auto; 
    width: auto; 
    max-width: 50%; 
    max-height: 50%;
}*/

