.online {
	background-color: #608921;
}
.offline {
	background-color: #AC0123;
}

.well {
    text-align: center;
    width:75%;
}
ul {
	text-align: left;

}
.display {
	display:none;
}
/*.image {
    height: auto; 
    width: auto; 
    max-width: 50%; 
    max-height: 50%;
}*/

